.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px;
}

.navbar img {
    height: 100px;
    width: 110px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 22px;
    cursor: pointer;
}

.nav-connect {
    padding: 12px 15px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu img {
    display: flex;
    margin: auto;
    height: 15px;
    width: 20px;
}

.anchor-link {
    text-decoration: none;
    color: white;
}